<li class="dropdown user user-menu ng-cloak" ng-show="isAuthenticated()" ng-controller="CurrentUserBlockController">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="bower_components/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
    <span class="hidden-xs">Alexander Pierce</span>
  </a>
  <ul class="dropdown-menu">
    <!-- User image -->
    <li class="user-header">
      <img src="bower_components/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      <p>
        <span ng-cloak ng-bind="auth.user.fullName"></span> - Web Developer
        <small>Member since Nov. 2012</small>
      </p>
    </li>
    <!-- Menu Body -->
    <li class="user-body">
      <div class="col-xs-4 text-center">
        <a href="#">Followers</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="#">Sales</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="#">Friends</a>
      </div>
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
      <div class="pull-left">
        <a ui-sref="settings" class="btn btn-default btn-flat">Profile</a>
      </div>
      <div class="pull-right">
        <a ui-sref="logout" class="btn btn-default btn-flat">Sign out</a>
      </div>
    </li>
  </ul>
</li>
