<div class="login-box">
  <div class="login-logo">
  <h1 translate="login.title">Login</h1>
  </div>

  <div class="login-box-body">
      <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
          <strong>Authentication failed!</strong> Please check your credentials and try again.
      </div>
      <form class="form" role="form" ng-submit="login($event)">
          <div class="form-group">
              <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                     ng-model="password">
          </div>
          <button type="submit" class="btn btn-primary" translate="login.form.button">Authenticate</button>
      </form>
      <p></p>
      <a href="#/reset/request" translate="login.password.forgot">Did you forget your password?</a><br/>
      <a href="#/register" translate="login.register.new">Register a new account</a>
      </div>
    </div>
